<a href="https://colab.research.google.com/github/takatoshiinaoka/google_colaboratory/blob/main/%E3%82%BC%E3%83%AD%E3%81%8B%E3%82%89%E5%A7%8B%E3%82%81%E3%82%8B%E6%A9%9F%E6%A2%B0%E5%AD%A6%E7%BF%921.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- [ゼロから始める機械学習 #1](https://qiita.com/t-baba-11/items/054bda7060952fc6bf74)
- [ゼロから始める機械学習 #2](https://qiita.com/t-baba-11/items/6dc947e3f3b33485ccf6)

----
## Google Driveと接続

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## モジュールのインポート

In [ ]:
import pandas as pd
import seaborn as sns

## データの読み込み

In [ ]:
raw_dataset = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/dataset/data/train/n10degC_Cycle_1_Pan18650PF.csv")
df = raw_dataset.copy()
print(df)

                   TimeStamp  Voltage  Current       Ah  Wh     Power  \
0      6/10/2017 11:25:41 AM  4.10596 -1.80146 -0.00005 NaN -7.396723
1      6/10/2017 11:25:41 AM  4.01524 -1.84964 -0.00010 NaN -7.426749
2      6/10/2017 11:25:41 AM  3.95799 -1.88639 -0.00015 NaN -7.466313
3      6/10/2017 11:25:41 AM  3.90973 -1.91824 -0.00021 NaN -7.499800
4      6/10/2017 11:25:41 AM  3.86920 -1.94519 -0.00026 NaN -7.526329
...                      ...      ...      ...      ...  ..       ...
57229   6/10/2017 1:01:15 PM  3.13705 -0.34625 -2.02998 NaN -1.086204
57230   6/10/2017 1:01:15 PM  3.14863 -0.34380 -2.02999 NaN -1.082499
57231   6/10/2017 1:01:15 PM  3.15828 -0.34298 -2.03000 NaN -1.083227
57232   6/10/2017 1:01:16 PM  3.16536 -0.34135 -2.03001 NaN -1.080496
57233   6/10/2017 1:01:16 PM  3.18479  0.00000 -2.03001 NaN  0.000000

       Battery_Temp_degC         Time  Chamber_Temp_degC        SOC  \
0             -10.158136     0.000000                -10  99.998276
1             -10.158136     0.102001                -10  99.996552
2             -10.158136     0.197002                -10  99.994828
3             -10.158136     0.300008                -10  99.992759
4             -10.158136     0.398006                -10  99.991034
...                  ...          ...                ...        ...
57229          -4.953044  5734.232003                -10  30.000690
57230          -4.953044  5734.329005                -10  30.000345
57231          -4.953044  5734.431006                -10  30.000000
57232          -4.953044  5734.525001                -10  29.999655
57233          -4.953044  5734.631005                -10  29.999655

      Drive Cycle
0         Cycle_1
1         Cycle_1
2         Cycle_1
3         Cycle_1
4         Cycle_1
...           ...
57229     Cycle_1
57230     Cycle_1
57231     Cycle_1
57232     Cycle_1
57233     Cycle_1

[57234 rows x 11 columns]

## データを確認する

In [ ]:
df.head()

,TimeStamp,Voltage,Current,Ah,Wh,Power,Battery_Temp_degC,Time,Chamber_Temp_degC,SOC,Drive Cycle
0,6/10/2017 11:25:41 AM,4.10596,-1.80146,-0.00005,NaN,-7.396723,-10.158136,0.000000,-10,99.998276,Cycle_1
1,6/10/2017 11:25:41 AM,4.01524,-1.84964,-0.00010,NaN,-7.426749,-10.158136,0.102001,-10,99.996552,Cycle_1
2,6/10/2017 11:25:41 AM,3.95799,-1.88639,-0.00015,NaN,-7.466313,-10.158136,0.197002,-10,99.994828,Cycle_1
3,6/10/2017 11:25:41 AM,3.90973,-1.91824,-0.00021,NaN,-7.499800,-10.158136,0.300008,-10,99.992759,Cycle_1
4,6/10/2017 11:25:41 AM,3.86920,-1.94519,-0.00026,NaN,-7.526329,-10.158136,0.398006,-10,99.991034,Cycle_1

|  カラム名 |  内容 |
|  --| -- |
| TimeStamp | 計測日時 |
| Voltage | セル端子電圧の計測値(V) |
| Current | 電流の計測値(A) |
| Ah | 計測された電流積算値(Ah) |
|  カラム名 |  内容 |
|  カラム名 |  内容 |
|  カラム名 |  内容 |
|  カラム名 |  内容 |
|  カラム名 |  内容 |
|  カラム名 |  内容 |